:root {
  --add-bg: rgb(100, 170, 100);
  --add-bg-hover: rgb(80, 150, 80);
  --delete-bg: rgb(255, 80, 80);
  --delete-bg-hover: rgb(255, 40, 40);
  --focus-color: rgb(50, 50, 210);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(100, 100, 110),
    rgb(160, 160, 170)
  );
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0;
}

main {
  width: 100%;
}

form {
  align-items: center;
  background-color: rgb(140, 140, 150);
  border-radius: 50px;
  border: 2px solid rgb(130, 130, 140);
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 30px;
  margin: 0 auto;
  padding: 80px 100px;
  width: fit-content;
}

form h1 {
  color: rgb(255, 255, 255);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form input {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid;
  font-size: 0.9rem;
  padding: 3px;
}

form input:focus-visible {
  outline: none;
  border: 1px solid var(--focus-color);
  box-shadow: 1px 1px 5px rgb(50, 50, 90);
}

form button {
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 30, 70);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 6px;
  transition: all 0.3s ease;
}

form button:hover {
  transform: scale(1.05);
}

form button:active {
  transform: scale(1);
}

form button:focus-visible {
  outline: none;
  box-shadow: 1px 1px 6px var(--focus-color);
}

.addTask {
  background-color: var(--add-bg);
}

.addTask:hover {
  background-color: var(--add-bg-hover);
}

.clearList {
  background-color: var(--delete-bg);
}

.clearList:hover {
  background-color: var(--delete-bg-hover);
}

.listTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0 0 0;
  padding: 5px;
  align-items: center;
}

.task {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: 1px solid;
  display: flex;
  gap: 15px;
  margin: 5px 0;
  max-width: 400px;
  overflow-wrap: anywhere;
  padding: 5px;
  width: fit-content;
}

.task input[type="checkbox"] {
  cursor: pointer;
  transition: all 0.3s ease;
}

.task input[type="checkbox"]:hover {
  transform: scale(1.1);
}

.task input[type="checkbox"]:active {
  transform: scale(1);
}

.taskText {
  font-size: 1rem;
  font-weight: 600;
}

.task:has(input[type="checkbox"]:checked) .taskText {
  color: rgb(0, 120, 0);
  text-decoration: line-through;
}

.buttonLi {
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  font-size: 1rem;
  padding: 4px 8px;
  transition: all 0.1s ease;
}

.buttonLi:focus-visible {
  outline: none;
  border: 1px solid var(--focus-color);
  box-shadow: 1px 1px 5px rgb(50, 50, 90);
}

.buttonLi:hover {
  transform: scale(1.05);
}

.buttonLi:active {
  transform: scale(1);
}

.edit {
  background-color: rgb(235, 155, 0);
}

.edit:hover {
  background: rgb(220, 120, 0);
}

.delete {
  background-color: var(--delete-bg);
}

.delete:hover {
  background-color: var(--delete-bg-hover);
}

@media (min-width: 320px) and (max-width: 767px) {
  form {
    padding: 30px 50px;
  }

  .task {
    max-width: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  form {
    padding: 60px 80px;
  }

  .task {
    max-width: 350px;
  }
}
